header,
main {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.fr-header {
  position: fixed;
  top: 0;
  filter: none;

  .fr-logo::after {
    background-position-y: calc(100% + 22.5px) !important;
  }

  .fr-header__brand {
    filter: none;
    width: initial;
  }

  .document-title {
    text-wrap: nowrap;
    font-size: 14px;
    line-height: 19px;
    margin-right: 1rem;
    text-align: right;
    margin-left: auto;
  }

  .laboratory-address {
    font-size: 7px;
    line-height: 10px;
    text-align: right;
    margin-top: 2px;
  }
}

.fr-header,
.header-space {
  height: 135px;
}

.fr-grid-row--gutters > [class^=fr-col-], .fr-grid-row--gutters > [class*=" fr-col-"] {
  padding: 5px !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  th, td {
    padding: 0px;
  }
}

.border {
  border: 1px solid var(--border-default-grey);
}

.fr-badge--sm {
  border: none;
  font-size: 7px;
  line-height: 9px;
  padding: 4px;
  min-height: 13px;
  height: 13px;
}

.sample-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &.full-version {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  &:not(.full-version) + .sample-section {
    margin-top: 1rem;
  }

  .sample-section-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-default-grey);
    min-height: 23px;
  }

  .sample-section-item {
    display: flex;
    flex-direction: column;
  }

  .current-sample-item {
    background-color: #887358;
    color: white;
    font-weight: bold;
    font-size: 7px;
    margin-top: 1rem;
    padding: 2px;
  }

  .sample-item-container {
    padding: 1rem;
    margin-top: 27px;
    border: 1px solid var(--border-default-grey);
    border-top: 2px solid #887358;
  }

  .current-sample-item + .sample-item-container {
    margin-top: 0 !important;
  }

  .sample-item-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sample-item-title {
    font-size: 11px;
    font-weight: 700;
  }

  .sample-item-card {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .sample-section-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;

      .label {
        color: black;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        flex-grow: 1;
      }

      .value {
        font-size: 10px;
        line-height: 14px;
      }
    }
  }

  .current-sample-item + .sample-item {
    border-top: none;
    margin-top: 0;
  }

  .substances-container {
    border: 1px solid var(--border-default-grey);
    padding: 10px;

    .substance-label {
      font-size: 11px;
      font-weight: 700;
    }

    .substance-value {
      font-size: 10px;
    }
  }

  .indent-back {
    position: relative;
    left: -1rem;
  }

  .label {
    margin-bottom: 0;
    color: var(--text-mention-grey);
    font-weight: 700;
    font-size: 9px;
    line-height: 13px;
  }

  .notice {
    margin-bottom: 0;
    color: var(--text-disabled-grey);
    font-weight: 500;
    font-size: 7.5px;
    line-height: 11px;
  }

  .value {
    font-size: 10px;
    line-height: 15px;
    font-weight: 700;

    &.empty {
      height: 15px;
      border-bottom-width: 1px;
      border-bottom-style: dashed;
      border-bottom-color: rgba(0, 0, 0, 0.3);
    }
  }

  .sub-value {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 9px;
    line-height: 13px;
  }

  .fr-label {
    font-size: 9px;
    line-height: 13px;
  }

  .fr-radio-group {
    display: flex;
    flex-direction: row;

    .fr-label {
      padding-left: 24px;
      padding-right: 24px;
      padding-top: 7px;
    }

    input[type='radio'] + label {
      background-image: radial-gradient(
              transparent 6px,
              #000091 7px,
              transparent 8px
      );
    }

    input[type='radio']:checked + label {
      background-image: radial-gradient(
              transparent 6px,
              #000091 7px,
              transparent 8px
      ),
      radial-gradient(#000091 3px, transparent 5px);
    }
  }

  .fr-checkbox-group input[type='checkbox'] + label::before {
    transform: scale(0.7);
    transform-origin: center;
  }
}

.uppercase {
  text-transform: uppercase;
}

