version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"  # Location of package.json
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10

    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7