
.residue-container {
  display: flex;

  .residue-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    h5 {
      display: flex;
      flex-direction: row;
      margin: 0;

      .border-middle {
        margin-top: 0.9rem;
      }
    }
  }
}

.analyte-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
