.residue-container {
  display: flex;

  .residue-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h5 {
      display: flex;
      flex-direction: row;

      .border-middle {
        margin-top: 0.9rem;
      }
    }
  }
}
