.grouped-update-container {
  width: 100%;

  .grouped-update-card {
    background-color: var(--blue-france-975-75);
    border: 1px solid var(--blue-ecume-950-100-hover);
    display: flex;

    div:has(h6) {
      flex-grow: 1;
    }

    div:has(.fr-btn) {
      align-self: flex-end;
    }
  }
}
