<div class='fr-header__brand'>
  <div class='fr-header__brand-top'>
    <div class='fr-header__logo'>
      <p class='fr-logo'>
        Ministère
        <br />
        de l'Agriculture
        <br />
        de l'Agro-alimentaire
        <br />
        et de la Souveraineté
        <br />alimentaire
      </p>
    </div>
    <div class='fr-header__operator'>
      <img
        src='{{inlineImage "logo.svg"}}'
        style='max-height: 100px; max-width: 100px; margin-bottom: 1rem;'
      />
    </div>
  </div>
</div>