<div class='notice'>
  En application de l'article R. 250-2 du code rural et
  de la pêche maritime, l(es)'échantillon(s) a (ont)
  été placé(s) sous scellé(s). L'étiquette
  d'identification comportant le numéro est glissée dans
  l'emballage placé sous scellé porteur d'un numéro
  d'ordre unique.
  {{#if fullVersion}}
    En application de l'article R.250-2 du code rural et
    de la pêche maritime, les dispositions de l'article 35 du règlement (UE) 2017/625 du parlement
    européen et du Conseil du 15 mars 2017 s'appliquent à tous les prélèvements d'échantillon réalisés
    en application du présent livre et notamment en application du paragraphe 3 de l'article 35 du même règlement.
    En application de l'article R.250-2 les échantillons prélevés ne donnent lieu à aucun remboursement.
  {{/if}}
  Dans le cas où un des échantillons a été remis au détenteur, ce dernier en a accepté le dépôt et s'est
  engagé à le conserver sous température négative.
  <b>En application de l'article R. 250-2 les échantillons prélevés ne donnent lieu à aucun remboursement.</b>
  {{#if (and fullVersion hasNoteToSampler)}}
    <b>Conservation et transmission : </b>
    L'échantillon doit être conservé dans des conditions optimales pour préserver ses propriétés initiales.
    La personne qui accepte le dépôt de ce scellé est prévenue qu'elle en assume l'entière responsabilité.
  {{/if}}
</div>