<section class='sample-section border full-version' style="border-left: 2px solid #2A401A;">
  <div class='fr-container'>
    <div class='fr-grid-row fr-grid-row--gutters'>
      <div class='fr-col-12'>
        <div class='sample-section-header'>
          <span class="uppercase">Modalités d'échantillonnage</span>
        </div>
      </div>
      <div class='fr-col-3'>
        <div class='sample-section-item'>
          <div class='label'>
            Matière prélevée
          </div>
          <div class='value'>
            {{#if (eq specificData.programmingPlanKind 'DAOA_SLAUGHTER')}}
              Foie de bovin
            {{else}}
              Muscle de volaille
            {{/if}}
          </div>
        </div>
      </div>
      <div class='fr-col-3'>
        <div class='sample-section-item'>
          <div class='label'>
            Quantité par échantillon
          </div>
          <div class='value'>
            200 grammes
          </div>
        </div>
      </div>
      <div class='fr-col-2'>
        <div class='sample-section-item'>
          <div class='label'>
            Contenant
          </div>
          <div class='value'>
            En plastique
          </div>
        </div>
      </div>
      <div class='fr-col-2'>
        <div class='sample-section-item'>
          <div class='label'>
            Température
          </div>
          <div class='value'>
            -18°
          </div>
        </div>
      </div>
      <div class='fr-col-2'>
        <div class='sample-section-item'>
          <div class='label'>
            Délais max. avant analyse
          </div>
          <div class='value'>
            30 jours
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
