@import '../../constants';

.table-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  & > div:first-child {
    flex: 1;
  }

  .fr-label + .fr-input-wrap {
    margin-top: 0;
  }
}

.sample-filters-accordion {
  background-color: var(--grey-1000-50);

  .fr-accordion__btn {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--grey-1000-75);
  }
}

.sample-card {
  .fr-card__content {
    gap: 0.75rem;
  }
}
