.fr-tag.matrix-tag {
  color: var(--text-action-high-beige-gris-galet);
  background-color: var(--background-contrast-beige-gris-galet);
  --hover: var(--background-contrast-beige-gris-galet-hover);
  --active: var(--background-contrast-beige-gris-galet-active);
}
