.back-to-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 101;

  button {
    background-color: var(--background-default-grey);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }

  &--raised {
    bottom: 6rem;
  }
}
