@use '../../constants' as constants;

.dashboard-notice-full-width {
  display: flex;
  flex-direction: column;

  @media (min-width: constants.$breakpoint-md) {
    flex-direction: row;
    gap: 0;
  }
}

.fr-callout {
  .fr-quote {
    background-image: none;
    padding: 1rem;
    text-align: center;

    &::before {
      width: 100%;
    }

    blockquote p {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 400;
    }

    .fr-quote__author {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      img {
        border-radius: 50% !important;
        width: 68px;
        height: 68px;
        object-fit: cover;
      }

      .manon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.quote-fullwidth {
  @media (min-width: constants.$breakpoint-md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    &::before {
      display: none;
    }

    figcaption {
      order: -1;
      border-right: 1px solid var(--border-default-grey);
      padding-right: 2.5rem;
    }

    blockquote {
      flex: 1;
      text-align: left;
      padding-left: 3rem;
    }
  }
}

.links-container {
  display: flex;
  background-color: #fff;

  @media (max-width: constants.$breakpoint-md) {
    flex-direction: column;
  }

  & > div {
    flex: 1;
    border: 1px solid var(--border-default-grey);
    text-align: center;
    padding: 1.5rem 0;

    &:not(:last-child) {
      border-right: 0;
    }
  }
}

.links-container-vertical {
  @media (min-width: constants.$breakpoint-md) {
    flex-direction: column;
    width: auto;
    min-width: 280px;

    & > div {
      border-right: 1px solid var(--border-default-grey) !important;
      border-bottom: 0;

      &:last-child {
        border-bottom: 1px solid var(--border-default-grey);
      }
    }
  }
}
