header,
main {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
.fr-header {
  position: fixed;
  top: 0;
  filter: none;
  box-shadow: 0 1px 0 0 var(--border-default-grey);

  .fr-logo::after {
    background-position-y: calc(100% + 22.5px) !important;
  }

  .fr-header__brand {
    filter: none;
  }

  .document-title {
    text-wrap: nowrap;
    font-size: 0.875rem;
    margin-right: 1.5rem;
    text-align: right;
  }
}

.fr-header,
.header-space {
  height: 120px;
  margin-bottom: 18px;
}

.sample-reference {
  border: 1px solid var(--grey-200-850);
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.sample-section {
  display: block;

  &.full-version {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  &:not(.full-version) + .sample-section {
    margin-top: 1rem;
  }

  .sample-section-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

    img {
      height: 3rem;
    }
  }

  .sample-section-subtitle {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .sample-section-body {
    padding-left: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .sample-section-block {
      display: flex;
      flex-direction: row;
      break-inside: avoid;
      page-break-inside: avoid;
      overflow: hidden;

      .sample-section-item {
        display: flex;
        flex-direction: column;
      }

      .fr-icon--sm {
        color: var(--text-mention-grey);
      }
    }

    .sample-item {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      break-inside: avoid;
      page-break-inside: avoid;
      overflow: hidden;

      &.current-item {
        padding: 1rem;
        width: calc(100% + 2rem);
        background-color: var(--beige-gris-galet-975-75);
        border: 1px solid var(--border-default-grey);
      }
    }

    .indent-back {
      position: relative;
      left: -1rem;
    }

    .label {
      margin-bottom: 0;
      color: var(--text-disabled-grey);
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.25rem;

      & + .label {
        margin-top: 1rem;
      }
    }

    .value {
      border-bottom-width: 1px;
      border-bottom-style: dashed;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    .fr-label {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    .fr-radio-group input[type='radio'] + label {
      background-image: radial-gradient(
        transparent 6px,
        #000091 7px,
        transparent 8px
      );
    }

    .fr-radio-group input[type='radio']:checked + label {
      background-image: radial-gradient(
          transparent 6px,
          #000091 7px,
          transparent 8px
        ),
        radial-gradient(#000091 3px, transparent 5px);
    }

    .fr-checkbox-group input[type='checkbox'] + label::before {
      transform: scale(0.7);
      transform-origin: center;
    }
  }
}

.fr-alert {
  page-break-inside: avoid;
  break-inside: avoid;
  display: block;

  .fr-alert__title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
