header,
main {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.fr-header {
  position: fixed;
  top: 0;
  filter: none;

  .fr-logo::after {
    background-position-y: calc(100% + 22.5px) !important;
  }

  .fr-header__brand {
    filter: none;
  }

  .document-title {
    text-wrap: nowrap;
    font-size: 14px;
    line-height: 19px;
    margin-right: 1.5rem;
    text-align: right;
  }
}

.fr-header,
.header-space {
  height: 120px;
  /*margin-bottom: 18px;*/
}

/*.sample-reference {*/
/*  border: 1px solid var(--grey-200-850);*/
/*  padding-top: 1rem;*/
/*  padding-bottom: 1rem;*/
/*  text-align: center;*/
/*  margin-bottom: 1.25rem;*/
/*}*/

table {
  border-collapse: collapse;
  border-spacing: 0;

  th, td {
    padding: 0px;
  }
}

.border {
  border: 1px solid var(--border-default-grey);
}

.fr-badge--sm {
  border: none;
  font-size: 7px;
  line-height: 12px;
}

.sample-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  &.full-version {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  &:not(.full-version) + .sample-section {
    margin-top: 1rem;
  }

  .sample-section-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-default-grey);
  }

  /*.sample-section-subtitle {*/
  /*  font-size: 0.875rem;*/
  /*  font-weight: bold;*/
  /*  margin-bottom: 0;*/
  /*}*/

  /*.sample-section-body {*/
  /*  padding-left: 3.5rem;*/
  /*  display: flex;*/
  /*  flex-direction: column;*/
  /*  gap: 1.25rem;*/

  /*  .sample-section-block {*/
  /*    display: flex;*/
  /*    flex-direction: row;*/
  /*    break-inside: avoid;*/
  /*    page-break-inside: avoid;*/
  /*    overflow: hidden;*/

      .sample-section-item {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
      }

    /*}*/

    .sample-item {

      padding: 1rem;
      margin-top: 1rem;
      border: 1px solid var(--border-default-grey);
      display: flex;
      flex-direction: column;
      gap: 5px;

      &.current-item {
      }

      .sample-item-title {
        font-size: 11px;
        font-weight: 700;
        flex-grow: 1;
      }

      .sample-section-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;

        .label {
          color: black;
          font-weight: 400;
          font-size: 10px;
          line-height: 14px;
          flex-grow: 1;
        }

        .value {
          font-size: 10px;
          line-height: 14px;
        }
      }
    }

    .substances-container {
      border: 1px solid var(--border-default-grey);
      padding: 1rem;

      .substance-label {
        font-size: 11px;
        font-weight: 700;
      }
      .substance-value {
        font-size: 10px;
      }
    }

    .indent-back {
      position: relative;
      left: -1rem;
    }
    .label {
      margin-bottom: 0;
      color: var(--text-mention-grey);
      font-weight: 700;
      font-size: 9px;
      line-height: 13px;

      & + .label {
        margin-top: 1rem;
      }
    }

    .notice {
      margin-bottom: 0;
      color: var(--text-disabled-grey);
      font-weight: 500;
      font-size: 8px;
      line-height: 11px;
    }

    .value {
      font-size: 10px;
      line-height: 15px;
      font-weight: 700;

      &.empty {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
      }
    }
    .sub-value {
      margin-bottom: 0;
      font-weight: 400;
      font-size: 9px;
      line-height: 13px;
    }

    .fr-label {
      font-size: 9px;
      line-height: 13px;
    }

    .fr-radio-group input[type='radio'] + label {
      background-image: radial-gradient(
        transparent 6px,
        #000091 7px,
        transparent 8px
      );
    }

    .fr-radio-group input[type='radio']:checked + label {
      background-image: radial-gradient(
          transparent 6px,
          #000091 7px,
          transparent 8px
        ),
        radial-gradient(#000091 3px, transparent 5px);
    }

    .fr-checkbox-group input[type='checkbox'] + label::before {
      transform: scale(0.7);
      transform-origin: center;
    }
  /*}*/
}

.fr-alert {
  page-break-inside: avoid;
  break-inside: avoid;
  display: block;

  .fr-alert__title {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.uppercase {
  text-transform: uppercase;
}
