.option-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start !important;
  padding: 0 !important;
}

.naf-container{
  color: var(--text-mention-grey);
  background-color: var(--background-alt-beige-gris-galet);
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: solid 1px var(--border-default-grey);
  display: flex;
}

.naf-label{
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  width: 100%;
}

.name-container{
  padding-bottom: 1rem;
}

