@use '../../../constants' as constants;

@media (max-width: constants.$breakpoint-md) {
  .fr-fieldset__content.fr-grid-row--gutters {
    margin: -0.5rem;
  }

  .fr-radio-group.fr-col-12 {
    max-width: calc(1200% / 12);
  }
}

.maestro-radio-group-inline .fr-radio-group {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}