
.select-search-input {
  margin-bottom: 0 !important;
}

.select-search-input > .fr-input {
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) 50%;
  background-size: 1rem 1rem;
  --data-uri-svg: url(data:image/svg+xml;charset=utf-8,<svg xmlns=%27http://www.w3.org/2000/svg%27 x=%270px%27 y=%270px%27 viewBox=%270 0 24 24%27 ><path fill=%27%23161616%27 d=%27M12,13.1l5-4.9l1.4,1.4L12,15.9L5.6,9.5l1.4-1.4L12,13.1z%27/></svg>);
  background-image: var(--data-uri-svg);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 2.5rem;
}

.select-search-options {
  background-color: var(--grey-1000-75);
  box-shadow: 0px 0px 10px var(--grey-925-125);
  position: absolute;
  z-index: 10;
  max-height: 32vh;
  overflow: auto;
  display: none;
}

.select-search-options__visible {
  display: inherit;
}

.select-search-option__disabled,
.select-search-option {
  padding: 8px 16px;
}

.select-search-option {
  cursor: pointer;
}

.select-search-option__selected,
.select-search-option:hover {
  background-color: var(--background-contrast-grey);
}

.select-search-option__disabled {
  cursor: not-allowed;
  color: var(--grey-625-425);
}

.select-search-option__disabled:hover {
  background-color: transparent;
}
