.residue-detail-container{
  .result-container {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    line-height: 2rem;

    .overview-header {
      display: flex;
      flex-direction: row;
    }

    .overview-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: 1.25rem;
      line-height: 2rem;
      flex-grow: 1;
    }
  }


}