.sample-count {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.comments-button {
  border-radius: 0.25rem;
  padding: 0rem 0.25rem !important;

  &::before {
    --icon-size: 0.75rem !important;
    margin: 0 !important;
  }
}
