$breakpoint-md: 36em;

.sample-stepper {
  display: flex;
  border-bottom: 1px solid var(--border-default-grey);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem;
  gap: 1.5rem;

  @media (min-width: $breakpoint-md) {
    padding-left: 4.375rem;
    padding-right: 12.75rem;
    margin-bottom: 2rem;
    gap: 3.5rem;
  }

  .fr-stepper {
    flex: 1;
  }
}

.sample-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: $breakpoint-md) {
    padding-left: 12.75rem;
    padding-right: 12.75rem;
    gap: 2.5rem;
  }

  .fr-radio-group {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .fr-messages-group:not(:empty) {
    margin-top: 1rem;
  }
}

.fr-btns-group {
  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column-reverse;

    .fr-btns-group {
      flex-direction: column;
    }
  }
}

.sample-items {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;

  .sample-item {
    border: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .fr-label {
    text-wrap: nowrap;
  }
}

.sample-step-summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .summary-item {
    display: flex;
    font-size: 1.25rem;
    line-height: 2rem;

    div:first-child {
      margin-right: 0.75rem;
    }
  }
}

hr {
  padding: 1px;
}
