@import '../../../constants';

.prescription-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.prescription-card {
  table {
    th {
      padding: 0.5rem 1rem !important;
    }

    .editable-cell {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    td:has(.fr-input-group) {
      padding-top: 0;
    }
  }

  .fr-tabs__list {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
