.distribution-count--readonly {
  text-align: center;
}

.distribution-count-input {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  line-height: 40px;
  background-color: var(--background-contrast-grey);
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    display: none;
  }

  &:focus {
    background-color: var(--background-default-grey);
    border-color: var(--background-contrast-grey);
    cursor: text;
  }
}
