@use '../../constants' as constants;

.section-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;

  @media (max-width: constants.$breakpoint-md) {
    align-items: start;
    padding-left: 1rem;
    padding-right: 1rem;

    .fr-btn {
      flex-basis: 100%;
      justify-content: center;
    }
  }
}
