@import '../../constants';

.section-header {
  display: flex;
  align-items: center;
  justify-item: center;
  gap: 1.5rem;
  flex-wrap: wrap;

  div:has(h1),
  div:has(h3) {
    flex: 1;
  }

  h1 {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint-md) {
    padding-left: 1rem;
    padding-right: 1rem;

    .fr-btn {
      flex-basis: 100%;
    }
  }
}
