.prescription-list-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .prescription-list-header__filters {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;

    .fr-toggle {
      margin-bottom: 0;
      width: auto;

      & + .fr-toggle {
        margin-left: 0;
      }

      label {
        width: auto;
      }
    }
  }
}

.grouped-update-container {
  width: 100%;

  .grouped-update-card {
    background-color: var(--blue-france-975-75);
    border: 1px solid var(--blue-ecume-950-100-hover);
    display: flex;
    & > div:has(h6) {
      flex: 4;
      white-space: nowrap;
    }

    & > div:not(:has(h6)) {
      flex: 6;
    }
  }
}
