.fr-table {
  th:has(button) {
    display: inline-flex;
    align-items: center;
  }
}

.fr-table td:has(.fr-input-group) {
  padding: 0;

  .fr-label + .fr-input {
    margin: 0;
    padding-right: 0;
    max-width: 56px;
  }
}

.fr-container:has(.full-width) {
  max-width: inherit;
  align-content: center;

  .fr-table__shadow::before {
    content: none;
  }
}

.pointer {
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 2px;
  z-index: 100000;
  background: white;
  left: calc(50% - 140px);
}
