@use 'constants' as constants;

main {
  background-color: var(--beige-gris-galet-975-75);
}

.main-nologged {
  display: flex;
  @media (max-width: constants.$breakpoint-lg) {
    display: unset;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.white-container {
  background-color: #fff;
  border: 1px solid var(--border-default-grey);
}

.bg-white {
  background-color: #fff;
}

.full-height {
  height: 100%;
}

.fr-table {
  &:not(.fr-table--layout-fixed) table {
    max-height: calc(100vh - 100px);
    overflow: auto;
    width: fit-content !important;
  }

  th {
    position: sticky;
    top: 0;
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      0deg,
      var(--border-plain-grey),
      var(--border-plain-grey)
    );
    background-color: var(--background-contrast-grey);

    &:has(.fr-modal--opened) {
      z-index: 2;
    }
    &:not(:has(.fr-modal--opened)) {
      z-index: 1;
    }
  }

  th,
  td {
    vertical-align: top !important;

    ul {
      margin-top: 0;
    }
  }

  th:has(.fr-pl-1w),
  td:has(.fr-pl-1w) {
    padding-left: 0.5rem;
  }

  th:has(.fr-pr-0),
  td:has(.fr-pr-0) {
    padding-right: 0;
  }

  th:has(.cell-icon),
  td:has(.cell-icon) {
    width: 40px !important;
    padding-top: 0.675rem;
  }

  th,
  td {
    &:has(.border-left) {
      border-left: 1px solid var(--border-default-grey);
    }

    &:has(.border-right) {
      border-right: 1px solid var(--border-default-grey);
    }
  }

  td:has(.fr-input-group) {
    padding: 0.5rem 0 0 0;
    max-width: 56px;

    .fr-label + .fr-input {
      margin: 0;
      padding-right: 0;
    }

    .fr-input-group {
      position: inherit;
    }
  }

  td:has(.editable-cell) {
    padding: 0;

    &:hover {
      background-color: var(--background-contrast-grey);
    }
  }

  .editable-cell {
    padding: 1rem;
    cursor: pointer;
  }
}

.fr-container:has(.full-width) {
  max-width: inherit;
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

section.fr-container {
  @media (max-width: constants.$breakpoint-md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pointer {
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 2px;
  z-index: 100000;
  background: white;
  left: calc(50% - 140px);
}

textarea.fr-input {
  min-height: unset;
}

.float-right {
  float: right;
}

.flex-grow-1 {
  flex-grow: 1;
}

h6,
.d-flex-align-center {
  display: flex;
  align-items: center;
}

.d-flex-align-start {
  display: flex;
  align-items: flex-start;
}

.d-flex-justify-center {
  display: flex;
  justify-content: center;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.border {
  border: 1px solid var(--border-default-grey);
}

.border-left {
  border-left: 1px solid var(--border-default-grey);
}

.border-middle {
  border-top: 1px solid #e0e0e0;
  margin-top: 0.35rem;
  margin-left: 1rem;
  margin-right: 1rem;
  flex-grow: 1;

  &:last-child {
    margin-right: 0;
  }
}

.fr-badge + .border-middle {
  margin-top: 0;
}

.fr-btn--sm + .border-middle {
  margin-top: 1rem;
}

.fr-btns-group {
  @media (max-width: constants.$breakpoint-md) {
    display: flex;
    flex-direction: column-reverse;
  }

  .fr-btns-group {
    margin-left: 0;
    margin-right: 0;

    @media (max-width: constants.$breakpoint-md) {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .fr-btn[class*='fr-icon-']:not([class*='fr-btn--icon-']) {
    padding-right: 0.5rem !important;
  }
}

.icon-grey,
.text-grey {
  color: var(--text-mention-grey);
}

.missing-data {
  color: var(--text-default-warning);
  font-weight: bold;
}

.fr-pagination__list {
  justify-content: center;
}

.icon-text {
  display: flex;

  & > :first-child:not(.fr-label--error):not(.fr-label--success) {
    margin-right: 0.75rem;
    color: var(--text-mention-grey);
  }
}

.no-wrap {
  white-space: nowrap;
}

.fr-tag:not(:last-of-type) {
  margin-right: 0.5rem;
}

.MuiAutocomplete-popper {
  z-index: 1750 !important;
}

.link-underline {
  text-decoration: underline;
}

.d-sm-none {
  @media (max-width: constants.$breakpoint-md) {
    display: none;
  }
}

.fr-tabs {
  padding-top: 9px !important;
}

.fr-tabs__panel {
  margin-top: -1px;
}
