@import 'constants';

main {
  background-color: var(--beige-gris-galet-975-75);
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.white-container {
  background-color: #fff;
  border: 1px solid var(--border-default-grey);
}

.bg-white {
  background-color: #fff;
}

.fr-table {
  &:not(.fr-table--layout-fixed) table {
    max-height: calc(100vh - 100px);
    overflow: auto;
    width: fit-content !important;
  }

  th {
    position: sticky;
    top: 0;
    background-size: 100% 2px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: linear-gradient(
      0deg,
      var(--border-plain-grey),
      var(--border-plain-grey)
    );
    background-color: var(--background-contrast-grey);

    &:has(.fr-modal--opened) {
      z-index: 2;
    }
    &:not(:has(.fr-modal--opened)) {
      z-index: 1;
    }
  }

  th:has(.fr-pl-0),
  td:has(.fr-pl-0) {
    padding-left: 0;
  }

  th:has(.fr-pl-1w),
  td:has(.fr-pl-1w) {
    padding-left: 0.5rem;
  }

  th:has(.fr-pr-0),
  td:has(.fr-pr-0) {
    padding-right: 0;
  }

  th:has(.cell-icon),
  td:has(.cell-icon) {
    width: 40px !important;
    padding: 0;
  }

  th,
  td {
    &:has(.border-left) {
      border-left: 1px solid var(--border-default-grey);
    }

    &:has(.border-right) {
      border-right: 1px solid var(--border-default-grey);
    }
  }

  td:has(.fr-input-group) {
    padding: 0;

    .fr-label + .fr-input {
      margin: 0;
      padding-right: 0;
      max-width: 56px;
    }

    .fr-input-group {
      position: inherit;
    }
  }

  td:has(.fr-select-group) {
    padding: 0;
  }

  td:has(.editable-cell) {
    padding: 0;

    &:hover {
      background-color: var(--background-contrast-grey);
    }
  }

  .editable-cell {
    padding: 1rem;
    cursor: pointer;
  }
}

.fr-container:has(.full-width) {
  max-width: inherit;
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pointer {
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 2px;
  z-index: 100000;
  background: white;
  left: calc(50% - 140px);
}

.fr-modal {
  text-align: initial;
  font-weight: initial;
  font-size: initial;

  .fr-btn--close {
    font-size: 0.875rem;
    line-height: 1.5rem;
    min-height: 2rem;
    padding: 0.25rem 0.75rem;
    overflow: initial;
    max-width: 100%;
    max-height: none;
    display: flex;
    margin-left: auto;
  }
}

.fr-card--xs {
  .fr-card__content {
    padding: 0.75rem !important;
  }

  .fr-card__end:empty {
    display: none;
  }
}
.fr-btn {
  justify-content: center;
}

textarea.fr-input {
  min-height: unset;
}

.float-right {
  float: right;
}
