@use '../../../constants' as constant;

.sample-overview {
  & > .fr-tabs {
    & > .fr-tabs__panel {
      gap: 2rem;
      display: flex;
      flex-direction: column;
    }

    & > .fr-tabs__list,
    .fr-tabs__panel {
      padding-left: 12rem;
      padding-right: 12rem;

      @media (max-width: constant.$breakpoint-xl) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
    @media (max-width: constant.$breakpoint-md) {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }

  .sample-status {
    display: flex;

    div:first-child {
      flex-grow: 1;
    }

    .fr-badge {
      text-wrap: nowrap;
    }
  }

  .back {
    text-align: center;
  }
}
