@use '../../../constants' as constant;

.sample-overview {
  .sample-overview-content {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1
  }
  .back {
    text-align: center;
  }
}
