@import '../../../constants';

.fr-tabs {
  padding-top: 9px !important;
}

.fr-tabs__panel {
  margin-top: -1px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.fr-tabs__list,
.fr-tabs__panel {
  padding-left: 12rem;
  padding-right: 12rem;

  @media (max-width: $breakpoint-md) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.select-with-button {
  display: flex;
  align-items: flex-end;

  button {
    margin-bottom: 1.5rem;
  }

  @media (max-width: $breakpoint-md) {
    flex-grow: 1;
    div {
      flex-grow: 1;
    }
  }
}

.sample-status {
  display: flex;

  div:first-child {
    flex-grow: 1;
  }

  .fr-badge {
    text-wrap: nowrap;
  }
}

.back {
  text-align: center;
}
