.prescription-comments-modal {
  form {
    flex-grow: 1;
  }

  .submit-button {
    align-self: end;
    margin-left: 0.5rem;
  }

  .comments-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 248px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: var(--beige-gris-galet-975-75);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--beige-gris-galet-925-125);

      &:hover {
        background: var(--beige-gris-galet-850-200);
      }
    }
  }

  .prescription-comment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--beige-gris-galet-975-75);
    border: 1px solid var(--beige-gris-galet-925-125);
    padding: 1.5rem;
    gap: 1rem;

    &.more-comments {
      align-items: center;
      padding: 0.25rem;
    }
  }
}
